body{
    background: #b6b7bc;
    color: #696969;
}

header
{
    margin: 0 auto;
}

#page
{
    width: 80%;
    margin: 0 auto;
    background-color: white;
    height: 100%;
    min-height: 500px;
    padding: 8px;
    overflow: hidden;
    display: table;
}

#container
{
    display: table-row;
}

#sidebar 
{    
    display: table-cell;"   
}

#sidebar label, input
{
    min-width: 150px;
    display: inline-block;
    font-weight: 400;
    padding: 3px 0px 3px 10px;
}

#sidebar label:hover
{
    cursor: pointer;
    font-weight: bold;
}

#sidebar label.selected
{
    position: relative;
    border: 2px solid #ddc;
    border-right: none;
    margin-right: -10px;
    font-weight: bold;
}

#main 
{
    width: 100%;
    height: 100%;
    border: 2px solid #ddc;
    position: relative;
    display: table-cell;
}

#main div
{
    display: block;
    position: relative;
}

#main div div
{
    position: absolute;
    padding: 0px 10px 10px 30px;
}

/* Tab Page Styles */ 
input[type="radio"] 
{    
    display: none;
}

article 
{    
    overflow: hidden;    
    height: 0px;
}

article p
{
    cursor: pointer;
}

article p:hover
{
    font-weight: bold;
}

input:checked ~ article 
{    
    height: auto;
}

.newvalue
{
    font-style: italic;
    cursor: pointer;
}

.newvalue:hover
{
    font-weight: bold;
}

.newfield
{
    font-style: italic;
}